body {
  background-image: url('https://images8.alphacoders.com/848/thumb-1920-848759.jpg');
  margin: 10px;
  padding: 10px;
}

.form-login {
  align-items: center;
  background: rgb(252, 251, 253, 0.589);
  border: rgb(94, 0, 131) 3px solid;
  display: block;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 250px;
  padding: 30px;
  text-align: center;
  width: 20%;
}

h2 {
  color: rgb(94, 0, 131);
  font-family: BioRhyme , sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 10px;
}

h3 {
  color: rgba(255, 255, 255, 0.65);
  font-family: BioRhyme , sans-serif;
  font-size: 1.2rem;
}

p {
  color: rgb(94, 0, 131);
  font-family: BioRhyme , sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
}

.button-login {
  background: rgba(195, 0, 255, 0.794);
  color: white;
  font-family: BioRhyme , sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 15px;
  padding: 2.5px;
}

.album-page {
  display: flex;
}
